{% extends "base.html" %}
{% import "_wtf.html" as wtf %}


{% block head_title %}
    {{ config.SITE_NAME }} - {{ _('Reset password') }}
{% endblock head_title %}

{% block body %}
<div class="card col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 mx-auto mt-5 mb-5 bg-light shadow">
    <div class="card-header row">
        <h5 class="my-auto"><i class="fas fa-th"></i>{{ _(' Reset password') }}</h5>
    </div>
    <div class="card-body mx-auto">
        <form method="post" role="form" action="" class="form needs-validation" novalidate>
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                {{ wtf.form_field(form.password) }}
                <div class="invalid-feedback">{{ _('Password should be more than 6 characters without space.') }}</div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                {{ wtf.form_field(form.confirm_password) }}
                <div class="invalid-feedback">{{ _('Password should be more than 6 characters without space.') }}</div>
            </div>
            {{ wtf.form_field(form.submit, class="btn btn-secondary btn-block") }}
        </form>
    </div>
</div>
{% endblock body %}