{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head_title %}
    {{ config.SITE_NAME }} - {{ _('Reset password') }}
{% endblock head_title %}

{% block body %}
<div class="card col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto mt-5 mb-5 bg-light shadow">
    <div class="card-header row">
        <h5 class="my-auto"><i class="fas fa-th"></i>{{ _(' Reset password') }}</h5>
    </div>
    <div class="card-body mx-auto">
        <form method="post" action="" class="form" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input class="form-control" id="new_password" name="new_password" placeholder="New password" required="" type="password" value="">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input class="form-control" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm new password" required="" type="password" value="">
            </div>
            <input type="submit" name="Submit" class="btn btn-secondary btn-block">
        </form>
    </div>
</div>
{% endblock body %}