{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head_title %}
    {{ config.SITE_NAME }} - Reset password
{% endblock head_title %}

{% block body %}
<div class="card col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto mt-5 mb-5 bg-light shadow">
    <div class="card-header row">
        <h5 class="my-auto"><i class="fas fa-th"></i> Reset password</h5>
    </div>
    <div class="card-body mx-auto">
        <form method="post" action="" class="form" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.new_password) }}
            {{ wtf.form_field(form.confirm_new_password) }}
            <input type="submit" name="Submit" class="btn btn-secondary btn-block">
        </form>
    </div>
</div>
{% endblock body %}