{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head_title %}
    {{ config.SITE_NAME }} - Unconfirmed
{% endblock head_title %}

{% block body %}
<div class="page-header">
    <h1>Hello {{ current_user.name }}!</h1>
    <h3>You have not confirmed your account yet.</h3>
    <p>
        Before you can access {{ config.SITE_NAME }}, you need to confirm account by email.
    </p>
    <p>
        Need the confirmation letter? <a href="{{ url_for('auth.request_confirm') }}">Click here</a>
    </p>
</div>
{% endblock body %}