/* minimal body height 100vh */
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* banner height 6rem */
.banner {
  padding: 1rem 1rem;
  border-radius: .1rem
  max-height: 6rem;
}

.banner-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

@media (min-width:480px) {
  .banner {
      padding:1rem 1rem;
  }
}

/* navbar search icon in search input */
.has-search .form-control {
  padding-left: 2rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* navbar dropdown hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  min-width: 0;
}
