{% extends '_base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <table class="table table-responsive table-sm table-bordered table-striped table-hover caption-top">
            <caption>Favorites</caption>
            <thead class="table-primary">
                <tr>
                    <th class="text-center"><strong>Culture</strong></th>
                    <th class="text-center"><strong>Code</strong></th>
                    <th class="text-center"><strong>Fun</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><a href="https://www.zdic.net/">Chinese</a></td>
                    <td class="text-center"><a href="https://github.com/">Github</a></td>
                    <td class="text-center"><a href="http://www.dapenti.com/">Dapenti</a></td>
                </tr>
                <tr>
                    <td class="text-center"><a href="https://dict.cn/">English</a></td>
                    <td class="text-center"><a href="https://python3-cookbook.readthedocs.io/">Python</a></td>
                    <td class="text-center"><a href="https://www.zhibo8.cc/">zhibo8</a></td>
                </tr>
                <tr>
                    <td class="text-center"><a href="https://www.bbc.co.uk/sounds/play/live:bbc_world_service">Radio</a></td>
                    <td class="text-center"><a href="https://www.cplusplus.com/">C/C++</a></td>
                    <td class="text-center"><a href="https://www.yoozhibo.com/zuqiu/yingchao/">Soccer</a></td>
                </tr>
                <tr>
                    <td class="text-center"><a href="https://music.163.com/#/playlist?id=2519429498">Music</a></td>
                    <td class="text-center"><a href="https://leetcode.com/">Leetcode</a></td>
                    <td class="text-center"><a href="https://91mjw.vip/">91Meiju</a></td>
                </tr>
                <tr>
                    <td class="text-center"><a href="http://www.00txt.com/santi/santixiaoshuo.html">Novel</a></td>
                    <td class="text-center"><a href="https://www.onlinegdb.com/">GDB</a></td>
                    <td class="text-center"><a href="https://www.99meiju2.com">99Meiju</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}

