{% extends 'base.html' %}

{% block content %}
    <div class="row align-items-center justify-content-center" id="data_card">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h3>About</h3></div>
                <div class="card-body">
                    <table class="table table-responsive table-sm table-bordered table-striped table-hover caption-top">
                        <caption>Freeland</caption>
                        <thead>
                            <tr>
                                <th><i class="bi-send-fill"></i></th>
                                <th>f902a108-81db-4c8c-bdd7-9c6963b5ec8z</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th><i class="bi-geo-alt-fill"></i></th>
                                <th>15954191-167234213-ltyucqlapvkqcbcu-mayyebcholrfdrfh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="bi-house-fill"></i></td>
                                <td>{{ config.SITE_NAME|capitalize }}</td>
                            </tr>
                            <tr>
                                <td><i class="bi-envelope-fill"></i></td>
                                <td>{{ config.SITE_DESCRIPTION }}</td>
                            </tr>
                            <tr>
                                <td><i class="bi-person-fill"></i></td>
                                <td>{{ config.SITE_AUTHOR }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

