{% extends 'base.html' %}

{% block content %}
    <div class="row mt-4">
        <div class="col-sm-9">
            {% if is_self %}
                <div class="d-flex justify-content-center mb-4">
                    <a href="{{ url_for('main.new_article', _external=True) }}" class="btn btn-primary"><i class="bi bi-pencil-square mx-1"></i>New Article</a>
                </div>
            {% endif %}
            <div id="data_div">
            </div>
            <div class="d-flex justify-content-center mb-4" id="sentinel">
                <div class="spinner-border" role="status"></div>
            </div>
        </div>
        <div class="col-sm-3 sticky-top-container">
            <div class="container sticky-top">
                {% include 'main/sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var data_div = document.querySelector("#data_div");
        var sentinel = document.querySelector("#sentinel");
        var offset = 0;
        var limit = {{ config.ITEMS_PER_PAGE | tojson }};
        {% if user %}
            {% if is_self %}
                var load_url = {{ url_for('api.get_self_articles', _external=True) | tojson }};
            {% else %}
                var load_url = {{ url_for('api.get_user_articles', _external=True) | tojson }};
                var user_name = {{ user.name | tojson }};
            {% endif %}
        {% else %}
            var load_url = {{ url_for('api.get_articles', _external=True) | tojson }};
        {% endif %}

        var intersectionObserver = new IntersectionObserver(entries => {
            if (entries[0].intersectionRatio <= 0) {
                return;
            }
            {% if user and not is_self %}
                var fetch_url = `${load_url}?name=${user_name}&offset=${offset}`;
            {% else %}
                var fetch_url = `${load_url}?offset=${offset}`;
            {% endif %}
            load_data(fetch_url);
            offset += 1;
        });
        intersectionObserver.observe(sentinel);

        function load_data(fetch_url) {
            fetch(fetch_url).then(response => response.json()).then(data => {
                if (!data.length || data.length < limit) {
                    sentinel.innerHTML = '';
                    intersectionObserver.unobserve(sentinel);
                }
                for (var index = 0; index < data.length; index++) {
                    var data_item = `
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5 class="my-auto"><a href="` + data[index].url + `" class="stretched-link"><i class="bi-justify mx-1"></i>` + data[index].title +`</a></h5>
                            </div>
                            <div class="card-body"> ` + data[index].truncated_content + ` </div>
                            <div class="card-footer d-flex justify-content-between text-muted">
                                <div><i class="bi-people-fill mx-1"></i>` + data[index].author + `</div>
                                <div><i class="bi-calendar3 mx-1"></i>` + moment(data[index].timestamp).format("YYYY-MM-DD HH:mm:ss") + `</div>
                            </div>
                        </div>`;
                    $("#data_div").append(data_item);
                }
            });
        };
    </script>
{% endblock scripts %}

