{% if manage %}
    {% extends '_dropzone.html' %}
{% else %}
    {% extends '_base.html' %}
{% endif %}

{% block content %}
    <div class="row mb-5">
        {% if manage %}
            <div class="row mt-5">
                <form action="{{ url_for('main.upload', current_path=current_path, _external=True) }}" class="dropzone" id="upload_dropzone"></form>
            </div>
            <div class="row mt-5">
                <a class="btn btn-primary" href="{{ url_for('main.show_medias', current_path=current_path, _external=True) }}">Show</a>
            </div>
        {% else %}
            <div class="row mt-5">
                <a class="btn btn-primary" href="{{ url_for('main.manage_medias', current_path=current_path, _external=True) }}">Manage</a>
            </div>
        {% endif %}
        <div class="row mt-5">
            <ol class="breadcrumb">
                {% set path_list = current_path.split('/') %}
                {% for dir_name in path_list %}
                    {% if loop.last %}
                        <li class="breadcrumb-item">{{ dir_name }}</li>
                    {% else %}
                        <li class="breadcrumb-item active">
                            {% if manage %}
                                <a href="{{ url_for('main.manage_medias', current_path=os.path.join(path_list[:loop.index]), _external=True) }}">{{ dir_name }}</a>
                            {% else %}
                                <a href="{{ url_for('main.show_medias', current_path=os.path.join(path_list[:loop.index]), _external=True) }}">{{ dir_name }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="row mt-5">
            <p>Show medias in current directory...</p>
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        window.addEventListener("load", data_container_adaption);
        window.addEventListener("resize", data_container_adaption);
        {% if manage %}
            Dropzone.options.myDropzone = {
                addRemoveLinks: true,
                uploadMultiple: true,
                parallelUploads: 10,
                maxFileSize: 100 * 1024 * 1024,
                url: "{{ url_for('main.upload', current_path=current_path, _external=True) }}",
                init: function() {
                },
            };
            var myDropzone = new Dropzone("#upload_dropzone");
        {% endif %}
    </script>
{% endblock scripts %}

