{% if form %}
    {% extends 'plugins/dropzone.html' %}
    {% from 'macros/form.html' import render_field %}
    {% from 'macros/modal.html' import render_modal %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block content %}
    {% if form %}
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-primary" href="{{ url_for('main.show_medias', current_path=current_path, _external=True) }}">
                <i class="bi-link-45deg mx-1"></i>Show Medias
            </a>
        </div>
        <div class="row mt-4">
            <form action="{{ url_for('main.upload', current_path=current_path, _external=True) }}" class="dropzone" id="upload-dropzone">
                <div class="form-check my-0">
                    <input class="form-check-input" type="checkbox" id="is_public" name="is_public">
                    <label class="form-check-label" for="is_public">Is Public</label>
                </div>
            </form>
        </div>
        <div class="row mt-4">
            <div class="col d-flex align-items-center">
                <ol class="breadcrumb my-auto">
                    {% set path_list = current_path.split('/') %}
                    {% for dir_name in path_list %}
                        {% if loop.last %}
                            <li class="breadcrumb-item">{{ dir_name }}</li>
                        {% else %}
                            <li class="breadcrumb-item active">
                                <a href="{{ url_for('main.manage_medias', current_path=os_path_join(*path_list[:loop.index]), _external=True) }}">{{ dir_name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary float-end mx-1" data-bs-toggle="modal" data-bs-target="#directory_add"><i class="bi-plus-square mx-1"></i>Add Directory</button>
                <div class="modal fade" id="directory_add" tabindex="-1" role="dialog" aria-labelledby="directory_add" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="directory_add">Add Directory</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" role="form" class="needs-validation" novalidate>
                                    {{ form.hidden_tag() }}
                                    {{ render_field(form.directory_name, form_group_classes='form-group has-success has-danger form-floating mb-3', type='text', placeholder='directory name') }}
                                    {{ render_field(form.submit, class='container-fluid btn btn-primary') }}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <table class="table table-responsive table-sm table-hover">
                <tbody>
                    {% for dir in dirs %}
                        <tr>
                            <td>
                                <a href="{{ url_for('main.manage_medias', current_path=os_path_join(current_path, dir), _external=True) }}">
                                    <i class="bi-folder mx-1"></i>{{ dir }}
                                </a>
                            </td>
                            <td class="align-middle">
                                {{ render_modal('Delete Media_Directory', os_path_join(current_path, dir), url_for('main.delete_media_directory', current_path=os_path_join(current_path, dir), _external=True), dir) }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for file in files %}
                        <tr>
                            <td>
                                <div style="height: 40px">
                                    {% if file.media_type >= 2 %}
                                        <a target="_blank" href="{{ url_for('main.get_file', filename=file.uuidname, _external=True) }}">
                                            <img src="{{ url_for('main.get_thumbnail', filename=file.uuidname, _external=True) }}" class="image-fluid mx-1" style="height: 100%"></img>
                                        </a>
                                    {% else %}
                                        <a target="_blank" href="{{ url_for('main.get_file', filename=file.uuidname, _external=True) }}">
                                            <i class="bi-file-earmark-text mx-1"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{{ url_for('main.get_file', filename=file.uuidname, download='yes', _external=True) }}">
                                        {{ file.filename }}
                                    </a>
                                </div>
                            </td>
                            <td class="align-middle">
                                {{ render_modal('Delete Media', file.filename, url_for('main.delete_media', filename=file.uuidname, _external=True), file.id) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-primary" href="{{ url_for('main.manage_medias', current_path=current_path, _external=True) }}">
                <i class="bi-wrench-adjustable mx-1"></i>Manage Medias
            </a>
        </div>
        <div class="row my-4">
            <div class="col gallery" id="data_div">
            </div>
        </div>
        <div class="d-flex justify-content-center mb-4" id="sentinel">
            <div class="spinner-border" role="status"></div>
        </div>
    {% endif %}
{% endblock content %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        {% if form %}
            Dropzone.options.uploadDropzone = {
                dictDefaultMessage: "Drop files here or click to upload",
                addRemoveLinks: true,
                uploadMultiple: true,
                parallelUploads: {{ config.DROPZONE_PARALLEL_UPLOADS }},
                maxFileSize: {{ config.DROPZONE_MAX_FILE_SIZE }},
                url: "{{ url_for('main.upload', current_path=current_path, _external=True) }}",
                init: function() {
                },
                success: function(file, response) {
                },
                successmultiple: function(files, response) {
                    for (let i in files) {
                        if (files[i].name in response) {
                            files[i].serverName = response[files[i].name];
                            files[i].previewElement.querySelector('[data-dz-name]').innerHTML = response[files[i].name];
                        }
                    }
                    window.location.reload();
                },
                removedfile: function(file, response) {
                    fetch("{{ url_for('main.delete_dropzone_file', _external=True) }}", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({
                            filename: file.serverName,
                        }),
                    }).then(
                        response => response.json()
                    ).then(
                        json => {
                            file.previewElement.remove();
                        }
                    );
                },
            };
            var uploadDropzone = new Dropzone("#upload-dropzone");
        {% else %}
            var data_div = document.querySelector("#data_div");
            var sentinel = document.querySelector("#sentinel");
            var offset = 0;
            var limit = {{ config.ITEMS_PER_PAGE | tojson }};
            var load_url = {{ url_for('api.get_self_medias', current_path=current_path, _external=True) | tojson }};

            var intersectionObserver = new IntersectionObserver(entries => {
                if (!entries[0].isIntersecting) {
                    return;
                }
                var fetch_url = `${load_url}?offset=${offset}`;
                load_data(fetch_url);
                offset += 1;
            });
            intersectionObserver.observe(sentinel);

            function image_loaded(object, type) {
                if (type == 3) {
                    const playicon = document.createElement("img");
                    playicon.classList.add("icon-center");
                    playicon.src = "{{ url_for('static', filename=os_path_join('img', 'play_icon.png'), _external=True) }}";
                    object.parentNode.appendChild(playicon);
                }
            };

            function load_data(fetch_url) {
                fetch(fetch_url).then(response => response.json()).then(data => {
                    if (!data.length || data.length < limit) {
                        sentinel.innerHTML = '';
                        intersectionObserver.unobserve(sentinel);
                    }
                    for (var index = 0; index < data.length; index++) {
                        var media_index = "media_" + (offset * limit + index);
                        var data_item = `<a target="_blank" href="` + data[index].view_url + `" data-index="` + (offset * limit + index) + `" data-width="` + data[index].width + `" data-height="` + data[index].height + `" style="--w: ` + data[index].thumbnail_width + `; --h: ` + data[index].thumbnail_height + `"><div><img "type="` + data[index].media_type + `" id="` + media_index + `" src="` + data[index].thumbnail_url +`" class="thumbnail-image" onload="image_loaded(this, ` + data[index].media_type + `)"></div></a>`;
                        $("#data_div").append(data_item);
                    }
                });
            };
        {% endif %}
    </script>
{% endblock scripts %}

