{% if resources %}
    {% extends '_base.html' %}
{% else %}
    {% extends '_gridjs.html' %}
    {% from '_form.html' import render_field %}
{% endif %}

{% block content %}
    <div class="d-flex justify-content-center my-5">
        {% if resources %}
            <a href="{{ url_for('main.manage_resources', _external=True) }}" class="btn btn-primary"><i class="bi-wrench-adjustable mx-1"></i>Manage Resources</a>
        {% else %}
            <a href="{{ url_for('main.resources', _external=True) }}" class="btn btn-primary mx-2"><i class="bi-link-45deg mx-1"></i>View Resources</a>
            <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#resource_add"><i class="bi-plus-square mx-1"></i>Add Resource</button>
            <div class="modal fade" id="resource_add" tabindex="-1" role="dialog" aria-labelledby="resource_add" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="resource_add">Add Resource</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" role="form" class="needs-validation" novalidate>
                                {{ form.hidden_tag() }}
                                {{ render_field(form.uri, form_group_classes='form-group has-success has-danger form-floating mb-3', type='text', placeholder='uri') }}
                                {{ render_field(form.title, form_group_classes='form-group has-success has-danger form-floating mb-3', type='text', placeholder='title') }}
                                {{ render_field(form.rank, form_group_classes='form-group has-success has-danger form-floating mb-3', type='text', placeholder='rank') }}
                                {{ render_field(form.category, form_group_classes='form-group has-success has-danger form-floating mb-3', type='text', placeholder='category') }}
                                {{ render_field(form.submit, class='container-fluid btn btn-primary') }}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if resources %}
        {% for category, items in resources.items() %}
            <div class="row justify-content-center{{ ' mb-5' if loop.last else ' mb-3' }}">
                <p><b><i class="bi-bookmark-star mx-1"></i>{{ category }}</b></p>
                <table class="table table-responsive table-sm table-bordered table-striped table-hover caption-top">
                    <tbody>
                        <tr>
                            {% for item in items %}
                                <td class="text-center">
                                    <a href="{{ item.get('uri') }}">
                                        <img height="16" width="16" src="https://www.google.com/s2/favicons?domain={{ item.get('uri') }}&size=16">
                                        {{ item.get('title', '') }}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div class="mb-5" id="manage_resources"></div>
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ super() }}
    {% if not resources %}
        <script type="text/javascript">
            const tableDiv = document.getElementById("manage_resources");
            const updateUrl = (prev, query) => {
                return prev + (prev.indexOf("?") >=0 ? "&": "?") + new URLSearchParams(query).toString();
            }
            const editableCellAttr = (data, row, col) => {
                if (row) {
                    return {contentEditable: "true", "data-element-id": row.cells[0].data};
                } else {
                    return {};
                }
            };

            new gridjs.Grid({
                columns: [
                    {% if columns %}
                        {% for column in columns %}
                            {id: "{{ column }}"
                            {%- if column == 'id' or column == 'delete_uri' -%}
                                , "hidden": true
                            {%- else -%}
                                , name: "{{ column }}", "attributes": editableCellAttr
                            {%- endif -%}},
                        {% endfor %}
                        {
                            name: "operation",
                            formatter: (cell, row) => {
                                var modal_raw = `
                                    <div class="modal fade" data-backdrop="true" id="delete_` + row.cells[0].data + `" tabindex="-1" role="dialog" aria-labelledby="delete_label" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delete_` + row.cells[0].data + `">` + `Delete Resource` + `</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you want to delete ` + row.cells[4].data + `: ` + row.cells[1].data + `?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="` + row.cells[5].data + `" class="btn btn-primary">Yes</a>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                                tableDiv.insertAdjacentHTML("beforeend", modal_raw);
                                return gridjs.html(`<button type="button" class="btn btn-primary btn-sm my-1" data-bs-toggle="modal" data-bs-target="#delete_` +
                                    row.cells[0].data + `"><i class="bi-trash mx-1">Delete</i></button> `)
                            }
                        },
                    {% endif %}
                ],
                style: {
                    table: {
                        width: "100%"
                    }
                },
                server: {
                    url: "{{ url_for('api.get_self_resources', _external=True) }}",
                    then: results => results,
                },
                fixedHeader: true,
                search: {
                    enabled: true,
                    server: {
                        url: (prev, search) => {
                            return updateUrl(prev, {search});
                        },
                    },
                },
                sort: {
                    enabled: true,
                    multiColumn: true,
                    server: {
                        url: (prev, columns) => {
                            const columnIds = {{ columns | tojson }};
                            const sort = columns.map(col => (col.direction == 1? "+": "-") + columnIds[col.index]);
                            return updateUrl(prev, {sort});
                        },
                    },
                },
                resizable: true,
                pagination: false,
            }).render(tableDiv);

            let savedValue;

            tableDiv.addEventListener("focusin", ev => {
                if (ev.target.tagName === "TD") {
                    savedValue = ev.target.textContent;
                }
            });

            tableDiv.addEventListener("focusout", ev => {
                if (ev.target.tagName === "TD") {
                    if (savedValue !== ev.target.textContent) {
                        fetch("{{ url_for('api.modify_resource', _external=True) }}", {
                            method: "POST",
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify({
                                id: ev.target.dataset.elementId,
                                [ev.target.dataset.columnId]: ev.target.textContent
                            }),
                        }).then(
                            response => response.json()
                        ).then(
                            json => {
                                if (json.length !== 0) {ev.target.textContent = json[0]}
                            }
                        );
                    }
                    savedValue = undefined;
                }
            });

            tableDiv.addEventListener("keydown", ev => {
                if (ev.target.tagName === "TD") {
                    if (ev.key === "Escape") {
                        ev.target.textContent = savedValue;
                        ev.target.blur();
                    } else if (ev.key === "Enter") {
                        ev.preventDefault();
                        ev.target.blur();
                    }
                }
            });
        </script>
    {% endif %}
{% endblock scripts %}

