{% if not config.SYS_LOCAL_DEPLOY %}
<div class="container-fluid" mt-4>
    <audio preload="auto" controls="controls" autoplay="autoplay" type="audio/mpeg">
        <source src="https://stream.live.vc.bbcmedia.co.uk/bbc_world_service" type="audio/mpeg">
    </audio>
</div>
{% endif %}

<div class="container-fluid mt-4">
    <form method="post" role="form" class="search-group mb-3" action="{{ url_for('main.search', _external=True) }}">
        <span class="search-icon"><i class="bi-search mx-1"></i></span>
        <input class="form-control search-input" type="search" id="search" name="search" placeholder="Search">
        <button class="btn btn-primary d-none" type="submit"><i class="bi-search mx-1"></i></button>
    </form>
</div>

<div class="container-fluid mt-4">
    <form method="post" role="form" class="form-check form-switch mb-3" id="toggleForm" action="{{ url_for('main.theme_switch', _external=True) }}">
        <input class="form-check-input" type="checkbox" id="toggle" name="toggle"{% if request.cookies.get('theme') and request.cookies['theme'] != config.SYS_THEME_DAY %} checked="y"{% endif %}>
        <label class="form-check-label mx-1" for="toggle"><strong><i class="bi-moon-stars mx-1"></i></strong></label>
    </form>
</div>

{% if not config.SYS_LOCAL_DEPLOY %}
<div class="container-fluid drop-down mt-4 d-none">
    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Themes</a>
    <div class="dropdown-menu dropdown-scroll">
        {% for theme_name, theme_uri in config.SYS_THEMES.items() %}
            <a class="dropdown-item" href="{{ url_for('main.theme_choose', theme_name=theme_name, _external=True) }}">{{ theme_name }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}

