{% extends "_base.html" %}

{% block content %}
    <div class="row mt-5">
        <div class="col-sm-9">
            <div id="data_div">
            </div>
            <div class="d-flex justify-content-center mb-5" id="sentinel">
                <div class="spinner-border" role="status"></div>
            </div>
        </div>
        <div class="col-sm-3">
            {% include 'main/sidebar.html' %}
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamic_load.js', _external=True) }}"></script>
    <script type="text/javascript">
        var user_name = {{ user.name | tojson }};
        var load_url = {{ url_for('api.get_user_articles', _external=True) | tojson }};
        var data_div = document.querySelector("#data_div");
        var sentinel = document.querySelector("#sentinel");
        var offset = 0;
        var limit = {{ config.ITEMS_PER_PAGE | tojson }};

        var intersectionObserver = new IntersectionObserver(entries => {
            if (entries[0].intersectionRatio <= 0) {
                return;
            }
            var fetch_url = `${load_url}?name=${user_name}&offset=${offset}`;
            load_data(fetch_url, data_div, sentinel, limit);
        });
        intersectionObserver.observe(sentinel);
    </script>
{% endblock scripts %}

