{% extends '_highlight.html' %}
{% from '_modal.html' import render_modal %}

{% block content %}
    <div class="row justify-content-center my-5">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <h5><i class="bi-justify mx-1"></i>{{ article.title }}</h5>
                    </div>
                    {% if is_self %}
                        <div>
                            <a href="{{ article.url }}/edit" class="btn btn-primary btn-sm my-1"><i class="bi-vector-pen">Edit</i></a>
                            {{ render_modal('Delete Article', article.title, os_path_join(article.url, 'delete'), article.id) }}
                        </div>
                    {% endif %}
                </div>
                <div class="card-body markdown-body">
                    {{ article.content_html | safe }}
                </div>
                <div class="card-footer d-flex justify-content-between text-muted">
                    <div>
                        <a href="{{ url_for('main.user', user_name=article.author.name, _external=True) }}">
                            <img class="mx-1" src="{{ article.author.get_gravatar_icon(size=20) }}">{{ article.author.name }}
                        </a>
                    </div>
                    <div><i class="bi-calendar3 mx-1"></i>{{ moment(article.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sticky-top-container">
            <div class="sticky-top">
                {% include "main/sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        window.addEventListener("load", data_container_adaption);
        window.addEventListener("resize", data_container_adaption);
    </script>
{% endblock scripts %}

