{% extends 'plugins/highlight_markdown_clipboard.html' %}
{% from 'macros/modal.html' import render_modal %}

{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-9 mb-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5 class="my-auto"><i class="bi-justify mx-1"></i>{{ article.title }}</h5>
                    </div>
                    {% if is_self %}
                        <div class="row">
                            <div class="col-auto">
                                <a href="{{ article.url }}/edit" class="btn btn-primary btn-sm my-auto"><i class="bi-vector-pen">Edit</i></a>
                            </div>
                            <div class="col">
                                {{ render_modal('Delete Article', article.title, os_path_join(article.url, 'delete'), article.id) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body markdown-body">
                    {{ article.content_html | safe }}
                </div>
                <div class="card-footer d-flex justify-content-between text-muted">
                    <div>
                        <a href="{{ url_for('main.user', user_name=article.author.name, _external=True) }}">
                            <img class="mx-1" src="{{ article.author.get_gravatar_icon(size=20) }}">{{ article.author.name }}
                        </a>
                    </div>
                    <div><i class="bi-calendar3 mx-1"></i>{{ moment(article.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sticky-top-container mb-4">
            <div class="sticky-top">
                {% include "main/sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const copySymbol = '<i class="bi-copy mx-1"></i>Copy code';
            var preElements = document.querySelectorAll('pre');
            preElements.forEach(function(preElement, index) {
                var codeElements = preElement.querySelectorAll('code');
                codeElements.forEach(codeElement => {
                    var codeId = 'code_' + index;
                    var copyItem = document.createElement('div');
                    copyItem.className = 'container-fluid';
                    copyItem.innerHTML = '<div class="col text-end"><button class="copy-button" data-clipboard-target="#' + codeId + '">' + copySymbol + '</button></div>';
                    codeElement.id = codeId;
                    codeElement.className = 'container';
                    codeElement.parentNode.className = 'container';
                    codeElement.parentNode.insertBefore(copyItem, codeElement);
                });
            });

            var copyButtons = document.querySelectorAll('.copy-button');
            copyButtons.forEach(function(button) {
                var clipboard = new ClipboardJS(button);
                clipboard.on('success', function(e) {
                    copyResp(button, '\u2714 copied!');
                    e.clearSelection();
                });

                clipboard.on('error', function(e) {
                    copyResp(button, '\u2716 failed!');
                });
            });

            function copyResp(button, rspText) {
                button.innerText = rspText;
                setTimeout(function() {
                    button.innerHTML = copySymbol;
                }, 3000);
            }
        });
    </script>
{% endblock scripts %}

