/* markdown code block */
.markdown-body {
    box-sizing: border-box;
    padding: 15px;
}
.markdown-body pre {
    margin: 0;
    padding: 5px;
}
.markdown-body code.hljs {
    white-space: pre-wrap;
    overflow: auto;
}
.markdown-body code.hljs table.hljs-ln {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: 0;
    padding: 2px;
}
.markdown-body code.hljs table.hljs-ln tbody {
    width: 100%;
    min-width: 200px;
    display: table;
}
.markdown-body code.hljs table.hljs-ln tr {
    background-color: #f6f8fa;
    border: 0;
}
.markdown-body code.hljs table.hljs-ln td.hljs-ln-line {
    border: 0;
    padding: 0 5px;
}
.markdown-body code.hljs table.hljs-ln td.hljs-ln-numbers {
    font-family: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    vertical-align: top;
    color: #ccc;
    border-right: 1px solid #ccc;
    width: 1rem;
    min-width: 1rem;
}

