/* link style overriding bootswatch */
a {
    text-decoration: none;
}

/* minimized width for header, content, footer */
.mw-320 {
    min-width: 320px;
}

/* minimized width for button group */
.mw-180 {
    min-width: 180px;
}

/* footer always at bottom */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* dropdown scroll for scheme popup menu */
.dropdown-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* dropdown overlap sticky-top */
.sticky-top-container {
    z-index: 1;
}

/* dropzone style */
.dropzone, .dz-clickable {
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
}

/* playicon center over video thumbnail */
.icon-center {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* thumbnail image */
.thumbnail-image {
  position: relative;
  width: 100%;
}

/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery>a, .gallery::after {
    flex-basis: var(--w);
}
.gallery>a {
    margin: 0.1rem;
    flex-grow: calc(var(--w) / var(--h) * 100);
    width: calc(var(--w) * 1px);
}
.gallery::after {
  --w: 2;
  --h: 1;
  content: '';
  flex-grow: 1000000;
}
.gallery>a>div {
  position: relative;
}

audio {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    box-sizing: border-box;
}

video, iframe {
    width: 100%;
}

.proxy-border {
    border: 3px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.proxy-border:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-group {
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    margin: 0;
}
.search-group .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #BBB;
    background: transparent;
    pointer-events: none;
}
.search-group .search-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #CCC;
    border-radius: 25px;
}

/* markdown body */
.markdown-body {
    background-color: transparent;
    box-sizing: border-box;
    padding: 15px;
}
.markdown-body table tr {
    background-color: transparent;
}
.markdown-body table tr:nth-child(2n) {
    background-color: transparent;
    opacity: 1.0;
}
.markdown-body pre {
    margin-top, margin-bottom: 5px;
    padding: 0;
    background-color: #bdbdbd;
}
.markdown-body pre div.container-fluid {
    padding-left: 0;
    padding-right: 0;
    background-color: #a9a9a9;
}
.markdown-body pre div.container-fluid div.col button.copy-button {
    border: none;
    background-color: #a9a9a9;
}
.markdown-body code.hljs {
    white-space: pre-wrap;
    overflow: auto;
}
.markdown-body code.hljs table.hljs-ln {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: 0;
    padding: 2px;
}
.markdown-body code.hljs table.hljs-ln tbody {
    width: 100%;
    min-width: 200px;
    display: table;
}
.markdown-body code.hljs table.hljs-ln tr {
    border: 0;
}
.markdown-body code.hljs table.hljs-ln td.hljs-ln-line {
    border: 0;
    padding: 0 5px;
}
.markdown-body code.hljs table.hljs-ln td.hljs-ln-numbers {
    font-family: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    vertical-align: top;
    color: #373737;
    border-right: 1px solid #373737;
    width: 1rem;
    min-width: 1rem;
}
.markdown-body code.hljs table.hljs-ln td.hljs-ln-code {
    word-break: break-word;
}

