/* link style overriding bootswatch */
a {
    text-decoration: none;
}

/* minimized width for card */
.mw-320 {
    min-width: 320px;
}

/* footer always at bottom */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* dropdown scroll for scheme popup menu */
.dropdown-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* dropdown overlap sticky-top */
.sticky-top-container {
    z-index: 1;
}

/* dropzone style */
.dropzone, .dz-clickable {
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
}

/* playicon center over video thumbnail */
.icon-center {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery>a, .gallery::after {
    flex-basis: var(--w);
}

.gallery>a {
    margin: 0.1rem;
    flex-grow: calc(var(--w) / var(--h) * 100);
    width: calc(var(--w) * 1px);
}

.gallery::after {
  --w: 2;
  --h: 1;
  content: '';
  flex-grow: 1000000;
}

.gallery>a>div {
  position: relative;
}

.thumbnail-image {
  position: relative;
  width: 100%;
}

