<!DOCTYPE html>
{% from "_nav.html" import render_nav_item %}
<html lang="en">
    <head>
        {% block metas %}
            <meta charset="UTF-8">
            <meta name="name" content="{{ config.SITE_NAME }}">
            <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
            <meta name="author" content="{{ config.SITE_AUTHOR }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, shrink-to-fit=no">
        {% endblock metas %}
        {% block icons %}
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon16.ico', _external=True) }}">
            <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon16.ico', _external=True) }}">
        {% endblock icons %}
        {% block styles %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.min.css">
            <link rel="stylesheet" href="{{ request.cookies.get('theme', config.SYS_THEME_DAY) }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
        {% endblock styles %}
        <title>
        {% block title %}
            {% if page_title %}
                {{ page_title }}
            {% else %}
                {{ config.SITE_NAME }}
            {% endif %}
        {% endblock title %}
        </title>
    </head>
    <body class="flex-wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="{{ url_for('main.index', _external=True) }}">
                        <img src="{{ url_for('static', filename='img/favicon16.ico', _external=True) }}" alt="logo" class="img-fluid rounded-circle">&nbsp;{{ config.SITE_NAME | capitalize }}
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbtn" aria-controls="navbtn" aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbtn">
                        <ul class="navbar-nav me-auto">
                            {{ render_nav_item(endpoint='main.articles', text=' Articles', use_li=True, icon='book-fill', _external=True) }}
                            {{ render_nav_item(endpoint='main.medias', text=' Medias', use_li=True, icon='camera-fill', _external=True) }}
                            {{ render_nav_item(endpoint='main.about', text=' About', use_li=True, icon='yin-yang', _external=True) }}
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            {% if current_user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi-person"></i>&nbsp;{{ current_user.name }}
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ url_for('auth.profile', _external=True) }}"><i class="bi-lock"></i>{{ ' Profile' }}</a>
                                        <a class="dropdown-item" href="{{ url_for('auth.setting', _external=True) }}"><i class="bi-gear"></i>{{ ' Setting' }}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ url_for('auth.logout', _external=True) }}"><i class="bi-arrow-right-square"></i>{{ ' Logout' }}</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('auth.login', _external=True) }}" role="button"><i class="bi-arrow-left-square"></i>{{ ' Login' }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-dismissible alert-primary mb-0">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {% if category == 'login' %}
                                <strong>Welcome {{ message.get('user_name', '') }} from {{ message.get('ip_addr', '') }}, last seen at {{ moment(message.get('last_seen', '')).format('YYYY-MM-DD HH:mm:ss') }}!</strong>
                            {% else %}
                                <strong>{{ message }}</strong>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </header>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="container footer">
            <hr class="my-0">
            <div class="d-flex justify-content-between">
                <div>
                    <small class="text-muted">
                        &copy;Copyright&nbsp;<script>document.write(new Date().getFullYear())</script>
                        &nbsp;&nbsp;&reg;<script>document.write(document.getElementsByTagName('meta')['author'].getAttribute('content'));</script>
                        &nbsp;All Rights Reserved.
                    </small>
                </div>
                <div>
                    <a class="text-muted" href="#"><i class="bi-arrow-up"></i></a>
                </div>
            </div>
        </footer>
        {% block scripts %}
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/style.js', _external=True) }}"></script>
            {{ moment.include_moment() }}
        {% endblock scripts %}
    </body>
</html>

