{% macro render_modal(modal_title, resource_title, resource_uri, resource_id='') %}
    <button type="button" class="btn btn-primary btn-sm my-1" data-bs-toggle="modal" data-bs-target="#modal_{{ resource_id }}"><i class="bi-trash">Delete</i></button>
    <div class="modal fade" id="modal_{{ resource_id }}" tabindex="-1" role="dialog" aria-labelledby="modal_{{ resource_id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_{{ resource_id }}">{{ modal_title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete {{ resource_title }}?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ resource_uri }}/delete" class="btn btn-primary">Yes</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
