<!DOCTYPE html>
{% from 'macros/nav.html' import render_nav_item %}
<html lang="en">
    <head>
        {% block metas %}
            <meta charset="UTF-8">
            <meta name="name" content="{{ config.SITE_NAME }}">
            <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
            <meta name="author" content="{{ config.SITE_AUTHOR }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, shrink-to-fit=no">
        {% endblock metas %}
        {% block icons %}
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename=os_path_join('img', 'favicon16.png'), _external=True) }}">
            <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename=os_path_join('img', 'favicon16.png'), _external=True) }}">
        {% endblock icons %}
        {% block styles %}
            {% if config.SYS_LOCAL_DEPLOY %}
                <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap_icons/bootstrap-icons.min.css', _external=True) }}">
            {% else %}
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">
            {% endif %}
            <link rel="stylesheet" href="{{ url_for('static', filename=request.cookies.get('theme', config.SYS_THEME_DAY), _external=True) }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
        {% endblock styles %}
        <title>
        {% block title %}
            {% if page_title %}
                {{ page_title|title }}
            {% else %}
                {{ config.SITE_NAME|title }}
            {% endif %}
        {% endblock title %}
        </title>
    </head>
    <body class="flex-wrapper">
        <header class="mw-320">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="{{ url_for('main.index', _external=True) }}">
                        <img src="{{ url_for('static', filename=os_path_join('img', 'favicon32.png'), _external=True) }}" alt="logo" class="img-fluid mx-1">{{ config.SITE_NAME | capitalize }}
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbtn" aria-controls="navbtn" aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbtn">
                        <ul class="navbar-nav me-auto">
                            {{ render_nav_item(endpoint='main.articles', text='Articles', use_li=True, icon='bi-book-fill', _external=True) }}
                            {{ render_nav_item(endpoint='main.medias', text='Medias', use_li=True, icon='bi-camera-fill', _external=True) }}
                            {{ render_nav_item(endpoint='main.resources', text='Resources', use_li=True, icon='bi-folder-fill', _external=True) }}
                            {{ render_nav_item(endpoint='main.about', text='About', use_li=True, icon='bi-star-fill', _external=True) }}
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            {% if current_user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi-person mx-1"></i>{{ current_user.name }}
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ url_for('auth.profile', _external=True) }}"><i class="bi-lock"></i>{{ ' Profile' }}</a>
                                        <a class="dropdown-item" href="{{ url_for('auth.setting', _external=True) }}"><i class="bi-gear"></i>{{ ' Setting' }}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ url_for('auth.logout', _external=True) }}"><i class="bi-arrow-right-square"></i>{{ ' Logout' }}</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('auth.login', _external=True) }}" role="button"><i class="bi-arrow-left-square"></i>{{ ' Login' }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-dismissible alert-primary mb-0">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {% if category == 'login' %}
                                <strong>Welcome {{ message.get('user_name', '') }} from {{ message.get('ip_addr', '') }}, last seen at {{ moment(message.get('last_seen', '')).format('YYYY-MM-DD HH:mm:ss') }}</strong>
                            {% else %}
                                <strong>{{ message }}</strong>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </header>
        <div class="container mw-320" id="data_container">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="container mw-320 footer">
            <hr class="my-0">
            <div class="d-flex justify-content-between">
                <div>
                    <small class="text-muted">
                        <span>&copy;Copyright</span>
                        <span><script>document.write(new Date().getFullYear())</script></span>
                        <span class="mx-1">&reg;<script>document.write(document.getElementsByTagName("meta")["author"].getAttribute("content"));</script></span>
                        <span>All Rights Reserved.</span>
                    </small>
                </div>
                <div>
                    <a class="text-muted" href="#"><i class="bi-arrow-up"></i></a>
                </div>
            </div>
        </footer>
        {% block scripts %}
            {% if config.SYS_LOCAL_DEPLOY %}
                <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.min.js', _external=True) }}"></script>
                <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js', _external=True) }}"></script>
                {{ moment.include_moment(local_js=url_for('static', filename='plugins/moment/moment-with-locales.min.js', _external=True), no_js=False) }}
            {% else %}
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
                {{ moment.include_moment() }}
            {% endif %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/style.js', _external=True) }}"></script>
        {% endblock scripts %}
    </body>
</html>

