{% for blog in paginations.items %}
    <div class="card mt-3 bg-light shadow">
        <div class="card-header">
            <h5 class="my-auto">{{ blog.title }}</h5>
        </div>
        <div class="card-body mx-left">
            <div class="card-title">
                <p class="my-auto">
                    <img src="{{ blog.user.get_gravatar(20) }}">&nbsp;<span class="text-dark">{{_('%(author)s', author=blog.user.name)}}</span>
                </p>
            </div>
            <div class="card-text">
                <p class="my-auto">{{ blog.content }}</p>
            </div>
        </div>
        <div class="card-footer text-muted">
                <p class="my-auto">
                    {{ _('posted at: %(datetime)s', datetime=moment(blog.create_datetime).format('LLLL')) }}
                </p>
        </div>
    </div>
{% endfor %}
