{% extends "base.html" %}


{% block body %}
<div class="card col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 mx-auto mt-5 mb-5 bg-light shadow">
    <div class="card-header row">
        <h5 class="my-auto"><i class="fas fa-user-secret"></i>{{ _(' Author:') }} <script>document.write(document.getElementsByTagName('meta')['author'].getAttribute('content'));</script></h5>
    </div>
    <div class="card-body mx-auto">
        <div class="card-title">
            <p class="my-auto">{{ _('Administrator:') }} {{ config['SYS_ADMIN'] }}</p>
        </div>
        <div class="card-text">
            <p class="my-auto">{{ _('Site Name:') }} {{ config['SITE_NAME'] }}</p>
            <p class="my-auto">{{ _('Site Title:') }} {{ config['SITE_TITLE'] }}</p>
            <p class="my-auto">{{ _('Site Description:') }} {{ config['SITE_DESCRIPTION'] }}</p>
            {% set key_words %}
                {{ config['SITE_KEYWORDS'] }}
            {% endset %}
            <p class="my-auto">{{ _('Site Keywords: %(kw)s', kw=key_words) }}</p>
        </div>
    </div>
    <div class="card-footer row text-muted">
        <div class="container-fluid">
            <p class="my-auto">{{ _('Email:') }} {{ config['MAIL_USERNAME'] }}</p>
        </div>
    </div>
</div>
{% endblock body %}
