<!DOCTYPE html>
<html lang="en">
    {% block html %}
    <head>
        {% block head_metas %}
            <meta charset="UTF-8">
            <meta name="author" content="{{ config.SITE_AUTHOR }}">
            <meta name="keywords" content="{{ config.SITE_KEYWORDS }}">
            <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        {% endblock head_metas %}
        {% block head_icon %}
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon16.ico') }}">
            <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon16.ico') }}">
        {% endblock head_icon %}
        {% block head_styles %}
            <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-all.css') }}">
        {% endblock head_styles %}
        {% block head_script %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- <script src="https://kit.fontawesome.com/863fd675cb.js" crossorigin="anonymous"></script> -->
        {% endblock head_script %}
        <title>
            {% block head_title %}
                {% if site_name %}
                    {{ site_name }}
                {% else %}
                    {{ config.SITE_NAME }}
                {% endif %}
            {% endblock head_title %}
        </title>
    </head>
    <header>
        {% block header %}
            <div class="jumbotron jumbotron-fluid bg-secondary mb-0">
                <h1 class="display-1 text-capitalize text-center text-light font-weight-bold">
                    {% if site_title %}
                        {{ site_title }}
                    {% else %}
                        {{ config.SITE_TITLE }}
                    {% endif %}
                </h1>
                <p class="text-capitalize text-center text-light font-weight-bold">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='img/favicon16.ico') }}" alt="logo" class="img-fluid">
                    </a>
                    {{ config.SITE_DESCRIPTION }}
                </p>
            </div>
        {% endblock header %}
    </header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary sticky-top" role="navigation">
        {% block navbar %}
        <div class="container-fluid justify-content-start">
            <ul class="navbar-nav">
                <li class="{{ 'nav-item active' if request.path == '/' or request.path == '/index/' else 'nav-item' }}">
                    <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-coffee"></i> Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-camera"></i> Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-key"></i> Diary</a>
                </li>
                <li class="{{ 'nav-item active' if request.path == '/about/' else 'nav-item' }}">
                    <a class="nav-link" href="{{ url_for('main.about') }}"><i class="fas fa-address-book"></i> About</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid justify-content-center">
            <form action="/action_page.php">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <input type="text" placeholder="Search..." name="search">
                    </li>
                    <li class="nav-item">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </li>
                </ul>
            </form>
        </div>
        <div class="container-fluid justify-content-end">
            <div>
                <button type="submit" class="text-right"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>
        </div>
        {% endblock navbar %}
    </nav>
    <aside>
        {% block aside %}
        {% endblock aside %}
    </aside>
    <body>
        <div class="bg-light mb-0">
            <hr class="mt-0">
            {% block body %}
            {% endblock body %}
            <hr class="mb-0">
        </div>
    </body>
    <footer>
        {% block footer %}
        <div class="bg-secondary">
            <div class="container-fluid text-center">
                <a href="#" class="text-light">&#8593</a>
            </div>
            <p class="container-fluid text-center text-light mb-0">
                &copy;Copyright <script>document.write(new Date().getFullYear())</script>
                &reg;<script>document.write(document.getElementsByTagName('meta')['author'].getAttribute('content'));</script>
                All Rights Reserved.
            </p>
        </div>
        {% endblock footer %}
    </footer>
    {% endblock html %}
</html>
