<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html lang="en">
    {% block html %}
    <head>
        {% block head_metas %}
            <meta charset="UTF-8">
            <meta name="author" content="{{ config.SITE_AUTHOR }}">
            <meta name="keywords" content="{{ config.SITE_KEYWORDS }}">
            <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        {% endblock head_metas %}
        {% block head_icon %}
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon16.ico') }}">
            <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon16.ico') }}">
        {% endblock head_icon %}
        {% block head_styles %}
            <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-all.css') }}">
        {% endblock head_styles %}
        {% block head_script %}
            <!-- <script src="https://kit.fontawesome.com/863fd675cb.js" crossorigin="anonymous"></script> -->
            <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
            <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
            <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            {{ moment.include_moment() }}
            <script type="text/javascript" src="{{ url_for('static', filename='js/style.js') }}"></script>
        {% endblock head_script %}
        <title>
            {% block head_title %}
                {% if site_name %}
                    {{ site_name }}
                {% else %}
                    {{ config.SITE_NAME }}
                {% endif %}
            {% endblock head_title %}
        </title>
    </head>
    <header>
        {% block header %}
            <div class="banner banner-fluid bg-dark">
                <h1 class="display-5 my-auto text-capitalize text-center text-light font-weight-bold">
                    {% set title %}
                        {% if site_title %}
                            {{ site_title }}
                        {% else %}
                            {{ config.SITE_TITLE }}
                        {% endif %}
                    {% endset %}
                    {{ _('%(title)s', title=title) }}
                </h1>
                <p class="my-auto text-capitalize text-center text-light font-weight-bold">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='img/favicon16.ico') }}" alt="logo" class="img-fluid rounded-circle">
                    </a>
                    {% set description %}
                        {{ config.SITE_DESCRIPTION }}
                    {% endset %}
                    {{ _('%(description)s', description=description) }}
                </p>
            </div>
        {% endblock header %}
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" role="navigation">
        {% block navbar %}
        <div class="container">
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="CollapsingNavbar">
                <ul class="nav navbar-nav align-items-center">
                    <li class="{{ 'nav-item active' if request.path == '/' or request.path == '/index/' else 'nav-item' }}">
                        <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-home"></i>{{ _(' Home') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-coffee"></i>{{ _(' Blog') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-camera"></i>{{ _(' Gallery') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-key"></i>{{ _(' Diary') }}</a>
                    </li>
                    <li class="{{ 'nav-item active' if request.path == '/about/' else 'nav-item' }}">
                        <a class="nav-link" href="{{ url_for('main.about') }}"><i class="fas fa-address-book"></i>{{ _(' About') }}</a>
                    </li>
                    <li class="nav-item">
                        <form class="form has-search input-group-sm" action="{{ url_for('main.search') }}" method="post" role="form">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search" name="search" required>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav align-items-center ml-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle btn btn-sm btn-dark text-light" role="button" id="DropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> {{ current_user.name }}
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="DropdownMenu">
                                <li>
                                    <a class="btn btn-block btn-sm btn-dark text-left" href="{{ url_for('auth.setting') }}" role="button"><i class="fas fa-address-card"></i>{{ _(' Setting') }}</a>
                                </li>
                                <li>
                                    <a class="btn btn-block btn-sm btn-dark text-left" href="{{ url_for('auth.logout') }}" role="button"><i class="fas fa-sign-out-alt"></i>{{ _(' Logout') }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-sm btn-dark" href="{{ url_for('auth.login') }}" role="button"><i class="fas fa-sign-in-alt"></i>{{ _(' Login') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endblock navbar %}
    </nav>
    <aside>
        {% block aside %}
        {% endblock aside %}
    </aside>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock body %}
    </div>
    <footer>
        {% block footer %}
            <hr class="my-0">
            <div class="container-fluid text-center">
                <a href="#" class="text-muted"><i class="fas fa-angle-double-up"></i></a>
            </div>
            <p class="container-fluid text-center text-muted mb-0">
                &copy;Copyright <script>document.write(new Date().getFullYear())</script>
                &nbsp;&reg;<script>document.write(document.getElementsByTagName('meta')['author'].getAttribute('content'));</script>
                All Rights Reserved.
            </p>
        {% endblock footer %}
    </footer>
    {% endblock html %}
</html>
