{% extends "base.html" %}
{% import "_paginations.html" as pg %}

{% block head_script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/load_data.js') }}"></script>
{% endblock head_script %}

{% block body %}
<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
    {% include "_blogs.html" %}
    {% if paginations %}
        {{ pg.m_pagination(paginations, 'main.index') }}
    {% endif %}
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
    <div class="my-3">
        <form class="form has-search input-group-sm" action="{{ url_for('main.search') }}" method="post" role="form">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search" name="search" required>
        </form>
    </div>
</div>
{% endblock body %}
